.btn {
    border: 1px solid white;
    padding: .5rem 4rem;
    text-align: center;
    transition: all 800ms;
    font-family: $font-regular;
    font-weight: $font-weight;
    font-size: 1.4rem;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    max-width: 29rem;
    padding-right: 2.7rem;
    &:hover {
        color: black;
        background-color: white;
    }
}

a {
    &.pre-save,
    &.pre-order {
        background-color: white;
        border: 2px solid black;
        font-family: $font-heavy;
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        padding: 1rem;
        letter-spacing: -1px;
        line-height: 2.2rem;
        max-height: 10rem;
        cursor: pointer;
        max-width: 34rem;
        width: 100%;
        margin: auto;
        display: block;
        @include respond(xs) {
            font-size: 1.4rem;
        }
    }
}