footer {
    background-color: transparent;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
    ::-moz-selection { /* Code for Firefox */
        color: $bg;
        background: black;
    }
    ::selection {
        color: $bg;
        background: black;
    }
    @include respond(sm) {
        height: fit-content;
        margin-bottom: 2rem;
    }
    a, button {
        color: black;
        font-family: $font-regular;
        text-transform: uppercase;
        font-size: 4vw;
        text-decoration: underline;
        background-color: transparent;
        border: none;
        padding-top: 1.4rem;
        &:hover {
            filter: brightness(1.4);
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        @include respond(sm) {
            flex-direction: column;
            margin: auto;
            align-items: center;
        }
    }
    .signup {
        max-width: 30rem;
    }
    .rca {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        max-width: 60rem;
        margin: auto;
        p, p *{
            font-size: .8rem;
            margin-bottom: 0;
            letter-spacing: 1px;
            font-family: $font-regular;
        }
    }
}