body {
    color: black;
    margin: 0;
    letter-spacing: .5px;
    background-color: $bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    main {
        height: 100vh;
        display: grid;
        @include respond(xs) {
            height: initial;
        }
        header {
            margin: 3rem auto;
        }
        #dont-change {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 3rem;
            a {
                transition: all 400ms;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .g-c {
                position: relative;
                min-height: 60vh;
                .d-ch-d {
                    max-width: 44rem;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    max-height: 50vh;
                    transform: translateY(-50%) translateX(-50%);
                    @include respond(xs) {
                        display: none;
                    }
                }
                .d-ch-m {
                    max-width: 30rem;
                    width: 100%;
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    @include respond(xs) {
                        display: block;
                    }
                }
                .d-ch-thumb {
                    max-width: 19rem;
                    max-height: 30vh;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    @include respond(xs) {
                        width: 100%;
                    }
                }
            }

        }
        &::after {
            content: '';
            background-color: $bg;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 0;
            position: fixed;
            pointer-events: none;
            transition: all 400ms;
        }
        &.modal-open {
            &::after {
                opacity: .90;
                pointer-events: initial;
            }
        }
        .central-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 60rem;
            height: 90vh;
            gap: 0;
        }
        .disclaimer {
            text-align: center;
            font-size: .8rem;
            margin-bottom: 0;
            font-family: $font-bold;
            max-width: 35.6rem;
            margin: 2rem auto;
        }
    }
    &.valentine {
        main {
            h1, p.txt-lg {
                font-size: 1.8rem;
                text-transform: uppercase;
                text-align: center;
                font-family: $font-heavy;
                letter-spacing: 0;
            }
            .hearts {
                margin: 0 auto 4rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 2rem;
                @include respond(xs){
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    margin: 0 auto 1rem;
                }
                .heart {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    padding: 7rem 2rem 2rem 2rem;
                    height: 21rem;
                    transition: all 400ms;
                    background-position: 0 0 ;
                    position: relative;
                    @include respond(xs) {
                        padding: 6rem 2rem 2rem 2rem;
                        height: 15rem;
                    }
                    &:hover, &.selected {
                        transform: scale(1.1);
                        transition: 400ms all;
                        &::after {
                            opacity: 1;
                        }
                    }
                    &::after {
                        opacity: 0;
                        content: '';
                        width: 100%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position: 0 -341px;
                        z-index: -1;
                        height: 100%;
                        background-size: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include respond(xs) {
                            background-position: 0 -257px;
                        }   
                    }
                    p {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        font-family: $font-heavy;
                        letter-spacing: 0;
                        @include respond(xs) {
                            font-size: .9rem;
                        }
                    }
                    &.heart-1 {
                        background-image: url('../img/hearts/h1.png');
                        @include respond(xs) {
                            grid-column: 1/3;
                            max-width: 50%;
                            margin: auto;
                        }
                        &:hover, &.selected {
                            &::after {
                                background-image: url('../img/hearts/h1.png');
                            }
                        }
                    }
                    &.heart-2 {
                        background-image: url('../img/hearts/h2.png');
                        &:hover, &.selected {
                            &::after {
                                background-image: url('../img/hearts/h2.png');
                            }
                        }
                        p {
                            color: white;
                        }
                    }
                    &.heart-3 {
                        background-image: url('../img/hearts/h3.png');
                        &:hover, &.selected {
                            &::after {
                                background-image: url('../img/hearts/h3.png');
                            }
                        }
                    }
                }
            }
            .form {
                max-width: 64rem;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                margin: 0 auto;
                @include respond(xs) {
                    grid-template-columns: 1fr;
                    max-width: 29rem;
                }
                input,
                textarea {
                    background-color: white;
                    border: 3px solid black;
                    font-family: $font-heavy;
                    color: black;
                    text-align: left;
                    text-transform: uppercase;
                    font-style: italic;
                    font-size: 1.3rem;
                    line-height: 1.4rem;
                    padding: 1rem;
                    padding-top: .9rem;
                    padding-left: 6rem;
                    width: 100%;
                    height: 4rem;
                    position: relative;
                    resize: none;
                }
                .input-container {
                    width: 100%;
                    position: relative;
                    &::before {
                        position: absolute;
                        left: 0;
                        display: block;
                        width: 5rem;
                        height: 3rem;
                        color: black;
                        top: 0;
                        z-index: 1;
                        font-size: 1.3rem;
                        font-family: $font-heavy;
                        text-transform: uppercase;
                        margin-top: 1.2rem;
                        margin-left: 1rem;
                    }
                }
                .receiver-container {
                    &::before {
                        content: 'To:';
                    }
                }
                .longname-container {
                    &::before {
                        content: 'From:';
                    }
                }
                .message-container {
                    grid-column: 1/3;
                    @include respond(xs) {
                        grid-column: 1/2;
                    }
                    textarea {
                        text-align: left;
                        padding-left: 1rem;
                        @include respond(xs) {
                            padding: 2rem;
                            text-align: center;
                            height: initial;
                        }
                    }
                }
            }
            .print-card {
                background-color: white;
                border: 3px solid black;
                font-family: $font-heavy;
                color: black;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.8rem;
                padding: 1rem;
                letter-spacing: -1px;
                line-height: 1.4rem;
                max-height: 10rem;
                cursor: pointer;
                max-width: 29rem;
                width: 100%;
                margin: 2rem auto;
                display: block;
                height: 4rem;
            }
            .central-content {
                max-width: 76rem;
                justify-content: center;
                &.share-content,
                &.valentine-content {
                    justify-content: flex-end;
                    @include respond(xs) {
                        height: initial;
                        padding-top: 3rem;
                    }
                }
                .cta-block {
                    margin: 5rem 0;
                    display: flex;
                    flex-direction: row;
                    @include respond(sm) {
                        flex-direction: column;
                        margin: 0;
                    }
                    button {
                        background-color: white;
                        border: 3px solid black;
                        font-family: $font-heavy;
                        color: black;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1.8rem;
                        padding: 1rem;
                        letter-spacing: -1px;
                        line-height: 1.4rem;
                        max-height: 10rem;
                        cursor: pointer;
                        max-width: 29rem;
                        width: 100%;
                        margin: 2rem auto;
                        display: block;
                        height: 4rem;
                        @include respond (xs) {
                            margin: 1rem auto;
                            &#download-mobile-vrt {
                                margin-top: 2rem;
                            }
                            &#download-mobile-hoz,
                            &#download-mobile-sqr {
                                margin: 2rem auto;
                            }
                        }
                    }
                }
                .generator {
                    background-color: white;
                    border: 3px solid black;
                    font-family: $font-heavy;
                    color: black;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    padding: 1rem;
                    letter-spacing: -1px;
                    line-height: 1.4rem;
                    max-height: 10rem;
                    cursor: pointer;
                    max-width: 29rem;
                    width: 100%;
                    margin: 2rem auto;
                    display: block;
                    height: 4rem;
                }
            }
        }
       
    }
}
.modal {
    position: fixed;
    width: 40rem;
    height: auto;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: none;
    &.msj-modal {
        background-color: white;
        border: 3px solid black;
        max-width: 60vw;
    }
    &.pre-order-modal,
    &.pre-save-modal {
        a {
            border: 2px solid black;
            background-color: white;
            color: black;
            font-family: $font-heavy;
            text-transform: uppercase;
            font-size: $font-size-base-sm;
            display: block;
            padding: 1rem;
            max-width: 80%;
            margin: auto;
            margin-bottom: 1rem;
            transition: all 400ms;
            &:last-of-type {
                margin-bottom: 0;
            }
            &:hover {
                transform: scale(1.05);
            }
        }
        p {
            font-family: $font-bold;
            text-transform: uppercase;
            font-size: $font-size-base-xxs;
            width: 80%;
            margin: auto;
            margin-top: 1rem;
        }
        form {
            &#apple_music_form {
                position: absolute;
                top: 10rem;
                z-index: 2;
                background-color: white;
                width: 80%;
                height: auto;
                left: 50%;
                transform: translateX(-50%);
                border: 2px solid black;
                padding: 2rem;
                label {
                    display: none;
                }
                .apple_form {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    justify-content: center;
                    margin-bottom: 0;
                    padding: 1rem;
                }
                button {
                    &.btn {
                        border: 2px solid black;
                        border-radius: 0;
                        font-size: 1rem;
                        font-family: $font-heavy;
                        letter-spacing: 1px;
                        margin-top: 1rem;
                        cursor: pointer;
                    }
                }
                input {
                    &#apple_music_email_address {
                        font-family: $font-heavy;
                        text-transform: uppercase;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        border: none;
                        width: 100%;
                        border-bottom: 2px solid black;
                        text-align: center;
                        margin-right: .5rem;
                        &::placeholder {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        padding-top: .8rem;
    }
    .btn-close {
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
        text-transform: uppercase;
        text-decoration: underline;
        color: black;
        font-family: $font-heavy;
        font-size: 1.3rem;
        padding: 1rem;
        transition: all 400ms;
        cursor: pointer;
        &:hover {
            transform: translateX(-50%) scale(1.1);
        }
    }
}
