.signup {
    h2 {
        font-size: 1.6rem;
        font-family: $font-heavy;
        margin-bottom: 2.6rem;
    }
    .form-container {
        display: flex;
        align-items: center;
        form {
            background-color: transparent;
            padding: 0;
            height: 3rem;
            max-width: 24rem;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 6rem;
            align-items: center;
            gap: 3px;
            margin: auto;
            input[type="email"] {
                font-family: $font-heavy;
                font-size: 1.3rem;
                background-color: transparent;
                text-align: left;
                color: black;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all 400ms;
                padding: 0.3rem 0;
                border: none;
                border-bottom: 2px solid black;
                border-radius: 0;
                width: 100%;
                &::placeholder {
                    font-family: $font-heavy;
                    color: black;
                }
            }
            input[type="submit"],
            button#submit_join {
                font-family: $font-heavy;
                font-size: 1.3rem;
                text-align: center;
                background-color: white;
                border: 2px solid black;
                border-radius: 0;
                color: black;
                letter-spacing: 1px;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 400ms;
                width: 5.6rem;
                height: 2.4rem;
                padding: 0;
                text-decoration: none;
                &:hover {
                    color: black;
                }
                @include respond(xs) {
                    background-color: transparent;
                }
            }
        }
    }
}