.social {
    a {
        margin: 0 .8rem;
        font-size: 1.8rem;
        span {
            &.sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0,0,0,0);
                border: 0;
            }
        }
    }
    @include respond(lg) {
        text-align: center;
        width: 100%;
    }
    @include respond(xs) {
        min-width: inherit;
        margin-bottom: 0;
    }
}