/* Paddings */
.p-0 {
    padding: 0;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem !important;
}
.pt-4 {
    padding-top: 4rem !important;
}
.pt-5 {
    padding-top: 5rem !important;
}
.pt-6 {
    padding-top: 6rem !important; 
}
.pt-7 {
    padding-top: 7rem !important;
}
.pt-11 {
    padding-top: 11rem;
}
.pt-12 {
    padding-top: 12rem;
}
.pt-8 {
    padding-top: 8rem
}
@include respond(sm) {
    .pt-sm-0 {
        padding-top: 0 !important;
    }
    .pt-sm-1 {
        padding-top: 1rem !important;
    }
    .pt-sm-2 {
        padding-top: 2rem !important;
    }
    .pt-sm-3 {
        padding-top: 3rem !important;
    }
    .pt-sm-4 {
        padding-top: 4rem !important;
    }
    .pt-sm-5 {
        padding-top: 5rem !important;
    }
    .pt-sm-6 {
        padding-top: 6rem;
    }
}
.pl-0 {
    padding-left: 0;
}
.pl-4 {
    padding-left: 4rem;
}
.pl-5 {
    padding-left: 5rem;
}
.pl-6 {
    padding-left: 6rem;
}
.pl-7 {
    padding-left: 7rem;
}
.pl-8 {
    padding-left: 8rem;
}
@include respond(sm) {
    .pl-sm-0 {
        padding-left: 0;
    }
    .pl-sm-1 {
        padding-left: 1rem;
    }
    .pl-sm-2 {
        padding-left: 2rem;
    }
    .pl-sm-3 {
        padding-left: 3rem;
    }
    .pl-sm-4 {
        padding-left: 4rem;
    }
    .pl-sm-5 {
        padding-left: 5rem;
    }
    .pl-sm-6 {
        padding-left: 6rem;
    }
}
.pr-0 {
    padding-right: 0;
}
.pr-4 {
    padding-right: 4rem;
}
.pr-5 {
    padding-right: 5rem;
}
.pr-6 {
    padding-right: 6rem;
}
.pr-7 {
    padding-right: 7rem;
}
.pr-8 {
    padding-right: 8rem;
}
@include respond(sm) {
    .pr-sm-0 {
        padding-right: 0;
    }
    .pr-sm-1 {
        padding-right: 1rem;
    }
    .pr-sm-2 {
        padding-right: 2rem;
    }
    .pr-sm-3 {
        padding-right: 3rem;
    }
    .pr-sm-4 {
        padding-right: 4rem;
    }
}
.pb-3 {
    padding-bottom: 3rem;
}
.pb-4 {
    padding-bottom: 4rem;
}
.pb-5 {
    padding-bottom: 5rem;
}
.pb-6 {
    padding-bottom: 6rem;
}
.pb-7 {
    padding-bottom: 7rem;
}
.pb-8 {
    padding-bottom: 8rem;
}
.pb-11 {
    padding-bottom: 11rem;
}
.pb-12 {
    padding-bottom: 12rem;
}
@include respond(sm) {
    .pb-sm-0 {
        padding-bottom: 0;
    }
    .pb-sm-1 {
        padding-bottom: 1rem;
    }
    .pb-sm-2 {
        padding-bottom: 2rem;
    }
    .pb-sm-3 {
        padding-bottom: 3rem;
    }
    .pb-sm-4 {
        padding-bottom: 4rem;
    }
    .pb-sm-5 {
        padding-bottom: 5rem;
    }
    .pb-sm-6 {
        padding-bottom: 6rem;
    }
}

/* Margins */
.m-auto {
    margin: auto !important;
}
.m-0 {
    margin: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 { 
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}   
.mt-5 {
    margin-top: 5rem;
}
.mt-10 {
    margin-top: 10rem;
}
@include respond(xs) {
    .mt-xs-0 {
        margin-top: 0;
    }
    .mt-xs-1 {
        margin-top: 1rem;
    }
    .mt-xs-2 {
        margin-top: 2rem;
    }
    .mt-xs-3 {
        margin-top: 3rem;
    }
    .mt-xs-4 {
        margin-top: 4rem;
    }
}
.mr-0 {
    margin-right: 0 !important;
}
.mr-1 {
    margin-right: 1rem !important;
}
.mr-2 {
    margin-right: 2rem !important;
}
.mr-3 {
    margin-right: 3rem !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 1rem !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}
.mb-3 {
    margin-bottom: 3rem !important;
}
.mb-4 {
    margin-bottom: 4rem !important;
}
.mb-5 {
    margin-bottom: 5rem !important;
}
.mb-6 {
    margin-bottom: 6rem !important;
}
.mb-7 {
    margin-bottom: 7rem !important;
}
@include respond(xs) {
    .mb-xs-0 {
        margin-bottom: 0;
    }
    .mb-xs-1 {
        margin-bottom: 1rem;
    }
    .mb-xs-2 {
        margin-bottom: 2rem;
    }
}
.ml-0 {
    margin-left: 0 !important;
}
.ml-1 {
    margin-left: 1 !important;
}
.ml-2 {
    margin-left: 2 !important;
}
.ml-3 {
    margin-left: 3 !important;
}