/* Typography */
.is-uppercase {
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-bold;
    font-weight: 200;
}
h1 {
    font-size: 4.2rem;
}
h2 {
    font-size: 3rem;
    @include respond(xs) {
        font-size: 2rem;
    }
}
.small {
    font-size: 1.1rem;
    @include respond(xs) {
        font-size: .8rem;
    }
}
button, input, select, textarea {
    font-size: initial;
}