// Media Query Manager
/*
xs:     0 - 576px
sm:     576 - 768px
md:     768 - 992px
lg:     992 - 1200px
xl:     1200 - 1400px
xxl:    1400+
xxxl:   1600+
*/

@mixin respond($breakpoint) {
    @if $breakpoint == xs {
        @media (max-width: 36em) { @content; }      //576px
    }
    @if $breakpoint == sm {
        @media (max-width: 48em) { @content; }      //768px
    }
    @if $breakpoint == md {
        @media (max-width: 62em) { @content; }      //992px
    }
    @if $breakpoint == lg {
        @media (max-width: 75em) { @content; }      //1200px
    }
    @if $breakpoint == xl {
        @media (max-width: 87.5em) { @content; }    //1400px
    }
    @if $breakpoint == xxl {
        @media (min-width: 87.5em) { @content; }    //1400px+
    }
    @if $breakpoint == xxxl {
        @media (min-width: 100em) { @content; }      //1600+
    }
}