$font-regular: "NeueHelvetica55Roman",sans-serif;
$font-medium: "NeueHelvetica65Medium",sans-serif;
$font-bold: "NeueHelvetica75Bold",sans-serif;
$font-heavy: "NeueHelvetica85Heavy",sans-serif;

$font-weight: 400;
$enable-responsive-font-sizes: true;
$enable-grid-classes: true;
$font-size-base: 1.6rem;
$font-size-base-xxs: .9rem;
$font-size-base-xs: 1.1rem;
$font-size-base-sm: 1.4rem;
$font-size-base-lg: 1.8rem;
$font-size-base-xl: 2.2rem;
$font-size-base-xxl: 2.4rem;

// colors
$bg:        #D8CAAA;
$pink:      #EBB3C3;
$blue:      #57C0E8;
$green:     #74BF99;
$yellow:    #FEDD3C;
$purple:    #9D7CD3;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
